/* @import "Acne.css";
@import "PagInicial.css";
@import "Herpes_Zoster.css"; */

a {
    text-decoration: none; 
    font-weight: bold;
    color:burlywood; 
}

image img{
    wigth: 100%;
}
article{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

