/* @import "Acne.css";
@import "PagInicial.css";
@import "Herpes_Zoster.css"; */

a {
    text-decoration: none; 
    font-weight: bold;
    color:rgba(148, 81, 109, 0.829); 
}


article{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    border-bottom: 50%;
}
img{
    width: 95%;
    height: 400px;
    max-width: 100%;
}
article{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    block-size: auto;
}
body{
    padding-top: red;
}
.pl{
    color: rgb(68, 131, 39);
}
