
header h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 100%;
    color: burlywood;
    
}

ul {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    text-decoration: none;
    font-weight: bold;

}
ul{
    list-style-type:circle;
    shape-margin: 120%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
    text-size-adjust: 130%;
}
.esquerda{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    text-decoration: none;
    color: cadetblue;
    text-transform: uppercase;
    width: 25%;

}

.centro{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    color: cadetblue;
    text-transform: uppercase;
    width: 25%;
}

.direita{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    text-decoration: none;
    color: cadetblue;
    width: 25%;
    
}
footer{
    background-color: darkslategrey;
    color: white;
    text-size-adjust: 120%;
}
footer a{
    text-decoration: none;
    color:brown;
}
.header-links{
   text-transform: uppercase;
   text-decoration: none;
   font-weight:bold;
}
footer{
   block-size: auto;
}
a {
    text-decoration: none;
}
footer  {
    size-adjust: 120%;
    
}
hr{

    size-adjust: 200%;
    margin : 2px solid darkslategrey;
    border: 1px solid darkslategrey ;
    margin : white;
    color : white
}
header h1{
    background-color: darkslategrey;
}



